{
  "swagger": "2.0",
  "info": {
    "description": "this is the sms service api for bitok and other scientific associations.",
    "version": "1.0.0",
    "title": "Sms Service",
    "contact": {
      "email": "ali.hamrani80@gmail.com"
    }
  },
  "host": "api.bitok.com",
  "basePath": "/sms/v1",
  "schemes": [
    "http",
    "https"
  ],
  "tags": [
    {
      "name": "sms",
      "description": "sms service api"
    }
  ],
  "paths": {
    "/message": {
      "post": {
        "tags": [
          "sms"
        ],
        "summary": "send message to array of phone numbers",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "message",
            "in": "body",
            "type" : "string",
            "description": "message body",
            "required": true
          },
          {
            "name": "to",
            "in": "body",
            "schema": {
              "type" : "array",
              "items": {
                "type" : "string"
              }
            },
            "description": "message will send to these phone numbers",
            "required": true
          },
          {
            "name": "token",
            "in": "body",
            "type" : "string",
            "description": "sms panel api token",
            "required": true
          }
        ],
        "responses": {
          "400": {
            "description": "invalid input",
            "schema": {
              "$ref": "#/definitions/RestResp"
            }
          },
          "200": {
            "description": "success",
            "schema": {
              "example": {
                "message": "string",
                "error": false,
                "status": 200,
                "data": {}
              }
            }
          }
        }
      }
    },
    "/otp": {
      "post": {
        "tags": [
          "sms"
        ],
        "summary": "send verification message to one user",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "message",
            "in": "body",
            "type" : "string",
            "description": "message body",
            "required": true
          },
          {
            "name": "to",
            "in": "body",
            "type" : "string",
            "description": "message will send to this phone number",
            "required": true
          },
          {
            "name": "code",
            "in": "body",
            "type" : "string",
            "description": "verification code",
            "required": true
          },
          {
            "name": "token",
            "in": "body",
            "type" : "string",
            "description": "sms panel api token",
            "required": true
          }
        ],
        "responses": {
          "400": {
            "description": "invalid input",
            "schema": {
              "$ref": "#/definitions/RestResp"
            }
          },
          "200": {
            "description": "success",
            "schema": {
              "example": {
                "message": "string",
                "error": false,
                "status": 200,
                "data": {}
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RestResp": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "description": "http status code"
        },
        "error": {
          "type": "boolean",
          "description": "check that operation state is success or not "
        },
        "data": {
          "type": "object",
          "description": "when error is true, data object is empty object or null/nil"
        }
      }
    }
  }
}